body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  flex-direction: row;
  background-color: #1a1a1a;
}

.bouncing-ball {
  position: relative;
  width: 600px;
  height: 600px;
}

.ground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #ffffff;
}

.ball {
  width: 150px;
  height: 150px;
  background: #0ae448;
  border-radius: 50%;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  animation: bounce 2s linear forwards;
}

@keyframes bounce {
  0% {
    transform: translate(-50%, 0) scaleX(1) scaleY(1);
  }

  /* Step 1 (falling) */
  15% {
    transform: translate(-50%, 400px) scaleX(1) scaleY(1);
  }
  17% {
    transform: translate(-50%, 447px) scaleX(1) scaleY(1);
  }

  /* Step 2 (squash) */
  19% {
    transform: translate(-50%, 475px) scaleX(1.2) scaleY(0.6);
  }
  21% {
    transform: translate(-50%, 475px) scaleX(1.3) scaleY(0.6);
  }
  24% {
    transform: translate(-50%, 475px) scaleX(1.3) scaleY(0.6);
  }

  /* Step 3 (bouncing up) */
  25% {
    transform: translate(-50%, 300px) scaleX(1) scaleY(1);
  }
  30% {
    transform: translate(-50%, 150px) scaleX(1) scaleY(1);
  }
  35% {
    transform: translate(-50%, 110px) scaleX(1) scaleY(1);
  }

  /* Step 4 (keeping it up, moving slow) */
  38% {
    transform: translate(-50%, 100px) scaleX(1) scaleY(1);
  }
  42% {
    transform: translate(-50%, 100px) scaleX(1) scaleY(1);
  }
  45% {
    transform: translate(-50%, 110px) scaleX(1) scaleY(1);
  }

  /* Step 4 (Falling again) */
  50% {
    transform: translate(-50%, 200px) scaleX(1) scaleY(1);
  }
  55% {
    transform: translate(-50%, 400px) scaleX(1) scaleY(1);
  }
  58% {
    transform: translate(-50%, 447px) scaleX(1) scaleY(1);
  }

  /* Step 5 (squash again) */
  60% {
    transform: translate(-50%, 447px) scaleX(1.2) scaleY(0.7);
  }

  /* Step 6 (smaller bounce up) */
  65% {
    transform: translate(-50%, 300px) scaleX(1) scaleY(1);
  }
  70% {
    transform: translate(-50%, 250px) scaleX(1) scaleY(1);
  }
  73% {
    transform: translate(-50%, 250px) scaleX(1) scaleY(1);
  }

  /* The few last small bounces */
  80% {
    transform: translate(-50%, 447px) scaleX(1) scaleY(1);
  }
  85% {
    transform: translate(-50%, 420px) scaleX(1) scaleY(1);
  }
  90% {
    transform: translate(-50%, 447px) scaleX(1) scaleY(1);
  }
  93% {
    transform: translate(-50%, 425px) scaleX(1) scaleY(1);
  }
  96% {
    transform: translate(-50%, 447px) scaleX(1) scaleY(1);
  }
  100% {
    transform: translate(-50%, 447px) scaleX(1) scaleY(1);
  }
}
